<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <quickpay_gateway>
                <model>QuickPay\Gateway\Model\Payment</model>
                <title>QuickPay Payment</title>
                <active>1</active>
                <testmode>0</testmode>
                <order_status>pending_payment</order_status>
                <sort_order>1</sort_order>
                <agreementid>ENTER YOUR AGREEMENT ID HERE</agreementid>
                <cardtype>0</cardtype>
                <sendmailorderconfirmation>1</sendmailorderconfirmation>
                <sendmailorderconfirmationbefore>0</sendmailorderconfirmationbefore>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <autocapture_shipment>0</autocapture_shipment>
                <autocapture>0</autocapture>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
                <apikey backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <mobilepay>
                    <title>QuickPay MobilePay</title>
                    <active>0</active>
                    <shipping_store_pick_up_title>Hent i butikken</shipping_store_pick_up_title>
                    <shipping_home_delivery_title>Ordren leveres til din hjemmeadresse</shipping_home_delivery_title>
                    <shipping_registered_box_title>Afhentning i en pakkeshop (registered_box)</shipping_registered_box_title>
                    <shipping_unregistered_box_title>Afhentning i en pakkeshop (unregistered_box)</shipping_unregistered_box_title>
                    <shipping_pick_up_point_title>Afhentning i en pakkeshop (pick_up_point)</shipping_pick_up_point_title>
                    <shipping_own_delivery_title>Ordren leveres til din hjemmeadresse</shipping_own_delivery_title>
                </mobilepay>
            </quickpay_gateway>
            <quickpay_klarna>
                <model>QuickPay\Gateway\Model\Klarna</model>
                <title>QuickPay Klarna</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <sort_order>3</sort_order>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
            </quickpay_klarna>
            <quickpay_mobilepay>
                <model>QuickPay\Gateway\Model\MobilePay</model>
                <title>QuickPay MobilePay</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <sort_order>4</sort_order>
                <sort_order>4</sort_order>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
            </quickpay_mobilepay>
            <quickpay_vipps>
                <model>QuickPay\Gateway\Model\Vipps</model>
                <title>QuickPay Vipps</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <sort_order>4</sort_order>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
            </quickpay_vipps>
            <quickpay_paypal>
                <model>QuickPay\Gateway\Model\PayPal</model>
                <title>QuickPay PayPal</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <sort_order>4</sort_order>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
            </quickpay_paypal>
            <quickpay_viabill>
                <model>QuickPay\Gateway\Model\ViaBill</model>
                <title>QuickPay ViaBill</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <sort_order>5</sort_order>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
            </quickpay_viabill>
            <quickpay_swish>
                <model>QuickPay\Gateway\Model\Swish</model>
                <title>QuickPay Swish</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <sort_order>6</sort_order>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
            </quickpay_swish>
            <quickpay_trustly>
                <model>QuickPay\Gateway\Model\Trustly</model>
                <title>QuickPay Trustly</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <sort_order>7</sort_order>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <autocapture>0</autocapture>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
            </quickpay_trustly>
            <quickpay_anyday>
                <model>QuickPay\Gateway\Model\Anyday</model>
                <title>QuickPay Anyday</title>
                <active>0</active>
                <order_status>pending_payment</order_status>
                <sort_order>8</sort_order>
                <handlestock>1</handlestock>
                <allowspecific>0</allowspecific>
                <transactionfee>0</transactionfee>
                <specifytransactionfee>0</specifytransactionfee>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund>1</can_refund>
            </quickpay_anyday>
        </payment>
        <carriers>
            <mobilepay>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>QuickPay\Gateway\Model\Carrier\Shipping</model>
                <name>QuickPay</name>
                <price>0.00</price>
                <title>MobilePay Checkout</title>
                <handling_type>F</handling_type>
            </mobilepay>
        </carriers>
    </default>
</config>
